
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 0.9em;
}
h1 {
    font-size: 1.8em;
    text-align: center;
}
h5 {
    font-size: 1.3em;
    font-weight: bold;
}
    
.icon-bar {
    background-color: #ddd !important;
}
.btn-success {
    background-color: #4C8930 !important;
    border-color: #3C7520 !important
}
#container {
    background-color: white;

}

#content {

}

#header {
    background-color: #4C8930;
    color: white;
    padding: 8px;
    text-align: right;
    padding-right: 8%;
}
#header span {
    padding-right: 16px;
}
#header select {
    color: black;
}
#menuBar {
 width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.parallax {
    /* The image used */
    background-image: url("../assets/mainImage.png");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxText {
    color:white;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-top: 150px;
}
.navbar .navbar-header .nav {

        background-color: transparent;
        height: 60px;
    line-height: 60px;

}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
}
nav a {
    color: white;
}
#menuBar img {
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.navbar-header .navbar-brand {
    padding: 5px;
}


#menuSearch {
    text-align: right;

}
nav input {
    width: 120px !important;
}
navbar div {
    height: 32px;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#mainImage {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#numbers {
margin-left: auto;
margin-right: auto;
width: 100%;
}
#numbers img {
    width: 30px;
    vertical-align:middle;
    margin-top: 20px;
    margin-bottom: 20px;
    

}
#numbers p {
    padding: 0px;
    margin: 0px;
    vertical-align:middle;
       
}
.number {

    font-size:1em;
    line-height: 1em;
}
.numberItem {
    margin-top: 20px;

}
.numberText {
    font-size: 0.7em;
}
#news {
    background-color: #ECEEEF;
    
    
}

#news .row {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    margin-top: 24px;
}

.newsItem {
    background-color: white;
    border: 1px solid #ededed;
    margin: 8px; 
    padding: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 1.1em;
    font-size: 0.9em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}
a.newsLink {
    text-decoration: none;
    color: #555;
}
.date {
    font-size: 0.75em;
    color: #aeaeae;
}
#references {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
    text-align: center;
    
}

.refs {
    border: 1px solid #ededed;
    margin: 8px; 
    padding: 0px;
   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#references img {

 margin-left:auto;
 margin-right: auto;

}

.refText {
    font-size: 0.8em;
    padding: 0px 16px 16px 16px;

}
#newsletter {
    padding-top: 16px;
    padding-bottom: 32px;
    border-top: 1px solid #ededed;
    text-align: center;
}
#newsletter p {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 0.9em;
}

#footer {
    background-color: black;
    color: white;
    padding-bottom: 32px;
    text-align: center;
}
#footer p {
    font-size: 0.9em;
}

#footer .right {
    margin: 16px;
}
.footerRight {
    text-align: center;
    margin-top: 32px;
}
.footerRight span {
    margin-left: 20px;
}

#socialButtons {
    margin-top: 40px;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
       padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{
    background: #4C8930;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

/* twitter button class*/
.twitterBtn{
    background: #4C8930;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

/* linkedin button class*/
.linkedinBtn{
    background: #4C8930;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
    }
.number {

    font-size:2em;
    line-height: 1em;
}
.numberItem {
    margin-top: 20px;

}
.numberText {
    font-size: 0.9em;
}
#numbers img {
    width: 40px;
    vertical-align:middle;
    margin-top: 20px;
    margin-bottom: 20px;
    

}
#footer {
    background-color: black;
    color: white;
    padding-bottom: 48px;
    text-align: left;
}
#footer p {
    padding: 0px;
    margin: 0px;
    font-size: 0.9em;
}

#footer .right {
    float:right;
}
.footerRight {
    text-align: right;
    margin-top: 20px;
}
.footerRight span {
    margin-left: 20px;
}

#socialButtons {
    margin-top: 30px;
}
#references {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
    text-align: center;
    
}

.refs {
    border: 1px solid #ededed;
    margin: 8px; 
    padding: 0px;
   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#references img {
    border-bottom: 1px solid #ededed;
    margin-bottom: 16px;

}
.refText {
    margin-top: 16px;
    padding: 16px;
}
.parallaxText {
    color:white;
    font-size: 3em;
    font-weight: lighter;
    margin-top: 150px;
}
}
@media only screen and (min-width: 500px) {
    /* For tablet: */
#numbers {
    width: 65%;
}
.parallaxText {
    color:white;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 150px;
}
#references {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
    text-align: center;
    
}

.refs {
    border: 1px solid #ededed;
    margin: 8px; 
    padding: 0px;
   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#references img {

    float:left;

}

.refText {
    font-size: 0.8em;
    padding: 16px;

}
}